<div class="d-flex justify-content-between align-items-center">
  <h2 mat-dialog-title>Are you sure?</h2>
  <button class="me-3" (click)="onCancel()" mat-icon-button mat-dialog-close matTooltip="Delete user" matTooltipPosition="above" matTooltipShowDelay="500" aria-label="Delete user">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content>
  <p>Are you sure you want to proceed with this action?</p>

  <div class="d-flex justify-content-end mt-3">
    <button mat-raised-button color="primary" (click)="onConfirm()">Yes</button>
    <button mat-raised-button class="ms-3" (click)="onCancel()">No</button>
  </div>
</mat-dialog-content>
